body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    background-color: #aec3b0;
    font-family: 'Oswald', sans-serif;
}

.content {
    margin: 2.5rem;
    margin-top: 5.5rem;
}

.section {
    background-color: #f5f8f0;
    border-radius: 1rem;
    padding: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    opacity: 85%;
}

h2{
    text-align: center;
}

.pic{
    width: 380px;
    margin-top: 7rem;
    margin-bottom: -2rem;
}

.mepic {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.interest{
    width: 650px;
    
}

.web{
    margin: 10rem 2rem 20rem 2rem;
}

.webpic{
    padding: 1rem;
}

.right{
    text-align: end;
}

.font-style{
    font-size: 1.3rem;
    font-weight: bold;
    color: #a47148;
}

h3:hover{
    color: #a47148;
    font-weight: bolder;
}


.section:hover{
    opacity: 100%;
    font-weight: bold;
    color: #495057;
}

.webpic:hover{
    transform: scale(1.2);
}

.mepic:hover{
    transform: scale(1.1);
}

@media screen and (max-width:768px) {
    .interest{
        width: 500px;
    }
}

@media screen and (max-width:620px) {
    .interest{
        width: 450px;
    }
}

@media screen and (max-width:600px) {
    .interest{
        width: 400px;
    }
}

@media screen and (max-width:520px) {
    .interest{
        width: 370px;
    }
}

@media screen and (max-width:500px) {
    .interest{
        width: 300px;
    }
}

@media screen and (max-width:400px) {
    .pic{
        width: 280px;
    }
    .interest{
        width: 250px;
    }
}

